html, body{
	margin-top: 20px;
	margin: 20px;
	padding: 20px;
	font-family: Times New Roman;
}

h1{
	font-size: 20;
	text-align: center;
}

h2{
	font-size: 14;
	text-align: left;
}

h3{
	font-size: 12;
	text-align: left;
}

.buttonAdd {
    background-color:  #26734d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.buttonClearList {
    background-color:  #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

ul {
    background: #ffffff;
    padding: 20px;
}

ul li{
	background: #e6fff2;
	padding: 10px;
	border: 1px solid #bfbfbf;
	list-style-type:none;
	position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}

textarea{
	border-style: none;
	border-color: transparent;
}

hr{
	border: 1px solid ##a6a6a6;
}

.field_set{
	border: 1px solid #bfbfbf;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}